voip-agent/fix_n8n_workflow.json
{
  "name": "My workflow - FIXED",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "my-workflow",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "my-workflow"
    },
    {
      "parameters": {
        "jsCode": "// Agregar sessionId al flujo\nconst inputData = $input.first()?.json || {};\n\nreturn {\n  json: {\n    ...inputData,\n    sessionId: 'voip-session-' + Date.now(),\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "add-session-id",
      "name": "Add Session ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "systemMessage": "Eres un asistente virtual especializado para un negocio de automatización y tecnología. Tu personalidad es profesional pero amigable, conciso y siempre dispuesto a ayudar.\n\n**INFORMACIÓN DEL NEGOCIO:**\n- **Nombre**: Negocio de Automatización y Tecnología\n- **Horarios**: Lunes a viernes 9:00 AM - 6:00 PM\n- **Servicios**: Automatización de procesos, desarrollo de software, consultoría IT\n- **Teléfono**: +526147420077\n- **Email**: contacto@negocio.com\n\n**TUS RESPONSABILIDADES:**\n1. **Agendar citas**: Programa reuniones y consultas\n2. **Cancelar/reprogramar citas**: Gestiona cambios de agenda\n3. **Información del negocio**: Horarios, servicios, precios\n4. **Soporte técnico**: Ayuda con productos y servicios\n\n**INSTRUCCIONES CRÍTICAS:**\n- Responde SOLO en español\n- Mantén respuestas cortas (máximo 2 oraciones para VoIP)\n- Si necesitas información específica, pregunta directamente\n- Para citas, solicita: fecha, hora preferida, y motivo\n- Si no puedes ayudar, ofrece transferir \"con un especialista\"\n- Recuerda el contexto de la conversación\n\n**CONTEXTO DE LA LLAMADA:**\nEl usuario está llamando por teléfono y su mensaje fue transcrito automáticamente. Responde de manera natural y útil.",
        "tools": [
          {
            "name": "agendar_cita",
            "description": "Agenda una cita para el cliente con el negocio",
            "parameters": {
              "type": "object",
              "properties": {
                "fecha": {
                  "type": "string",
                  "description": "Fecha solicitada para la cita en formato YYYY-MM-DD"
                },
                "hora": {
                  "type": "string",
                  "description": "Hora solicitada en formato HH:MM"
                },
                "motivo": {
                  "type": "string",
                  "description": "Motivo o tipo de servicio requerido"
                },
                "nombre": {
                  "type": "string",
                  "description": "Nombre del cliente"
                }
              },
              "required": ["fecha", "hora", "motivo", "nombre"]
            }
          }
        ],
        "options": {
          "maxIterations": 3
        }
      },
      "id": "ai-agent-voip",
      "name": "AI Agent VoIP",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [400, 0]
    },
    {
      "parameters": {
        "jsCode": "// Procesar respuesta del AI Agent y formatear para VoIP\nconst userText = $input.first()?.json?.text || '';\nconst agentResponse = $input.first()?.json?.output || 'Lo siento, no pude procesar tu solicitud.';\nconst toolsUsed = $input.first()?.json?.toolCalls || [];\n\n// Log para debugging\nconsole.log('Input del usuario:', userText);\nconsole.log('Respuesta AI Agent:', agentResponse);\nconsole.log('Herramientas utilizadas:', toolsUsed);\n\n// Procesar respuesta del agente\nlet finalResponse = agentResponse;\n\n// Si se usaron herramientas, agregar confirmación\nif (toolsUsed.length > 0) {\n  toolsUsed.forEach(tool => {\n    if (tool.tool === 'agendar_cita') {\n      finalResponse += ' Tu cita ha sido registrada.';\n    } else if (tool.tool === 'cancelar_cita') {\n      finalResponse += ' Tu cita ha sido cancelada.';\n    }\n  });\n}\n\n// Limitar longitud de respuesta para VoIP (máximo 200 caracteres)\nif (finalResponse.length > 200) {\n  finalResponse = finalResponse.substring(0, 197) + '...';\n}\n\n// Detectar intención para analytics\nfunction getIntent(text) {\n  const lowerText = text.toLowerCase();\n  if (lowerText.includes('cita') || lowerText.includes('agendar')) return 'schedule';\n  if (lowerText.includes('cancelar')) return 'cancel';\n  if (lowerText.includes('horario') || lowerText.includes('cuándo')) return 'hours';\n  if (lowerText.includes('servicio') || lowerText.includes('precio')) return 'services';\n  if (lowerText.includes('adiós') || lowerText.includes('gracias')) return 'goodbye';\n  return 'general';\n}\n\nreturn {\n  json: {\n    response: finalResponse,\n    user_input: userText,\n    intent_detected: getIntent(userText),\n    tools_used: toolsUsed.map(t => t.tool),\n    timestamp: new Date().toISOString(),\n    conversation_context: 'voip_call'\n  }\n};"
      },
      "id": "process-ai-response",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 0]
    },
    {
      "parameters": {
        "model": "llama3.2:3b-instruct-q4_k_m",
        "options": {
          "baseURL": "http://localhost:11434",
          "temperature": 0.7,
          "maxTokens": 200,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [200, 200],
      "id": "ollama-chat-model",
      "name": "Ollama Chat Model"
    },
    {
      "parameters": {
        "sessionKey": "voip-session",
        "windowSize": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [400, 200],
      "id": "simple-memory",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Add Session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Session ID": {
      "main": [
        [
          {
            "node": "AI Agent VoIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent VoIP": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent VoIP",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent VoIP",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fixed-voip-agent-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": ["voip", "ai-agent", "fixed", "automation"]
}